ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  height: 26.25px;
}
ul {
  padding: 0;
  user-select: none;
  width: 128px;
  border: 1px solid #000;
}
ul li {
  padding: 2px 0;
}