{
    "extends": [
        "airbnb-base",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "eqeqeq": "warn",
        "no-console": "off",
        "class-methods-use-this": "off",
        "no-plusplus": "off",
        "no-restricted-syntax": "off",
        "no-param-reassign": "off",
        "func-names": "off",
        "@typescript-eslint/interface-name-prefix": "off"
    },
    "settings": {
        "import/resolver": {
          "node": {
            "extensions": [".js", ".jsx", ".ts", ".tsx"]
          }
        }
      },
}
