* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: transparent;
}

*:hover::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.1);
}

*::-webkit-scrollbar-button {
  display: none;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  width: 800px;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 5px;
}

.message-room {
  padding: 12px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.message-room h1 {
  font-size: 16px;
  font-weight: normal;
}

.message-list {
  padding: 8px;
  width: 100%;
  height: 450px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 8px;
  width: fit-content;
  background-color: #ffffff;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 5px;
  max-width: 300px;
}

.message + .message {
  margin-top: 8px;
}

.message:hover {
  background-color: #f5f5f5;
}

.message.green {
  align-self: flex-end;
  background-color: #98e165;
  border: none;
}

.button {
  border: none;
  outline: none;
  padding: 2px 6px;
  color: rgba(0,0,0, .5);
  cursor: pointer;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.1);
}

.button + .button {
  margin-left: 4px;
}

.button:hover {
  background-color: #98e165;
}

.message-sender {
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #f5f5f5;
  transition: background-color .2s ease-out;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

textarea {
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  min-height: 120px;
  padding: 12px;
  padding-bottom: 32px;
  border-top: 1px solid rgba(0,0,0,.1);
  background-color: transparent;
}

.message-sender:focus-within {
  background-color: #fff;
}

.message-sender .toolbar {
  padding: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
}
