*, *::before, *::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: 'IBM Plex Sans', Arial, sans-serif
}
html, body, #root {
  height: 100%;
}

.App {
  padding-top: 48px;
  height: calc(100% - 48px);
}
body {
  background-color: #373c3f;
  /* overflow: hidden; */
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

textarea {
  border: none;
  outline: none;
  background-color: transparent;
}

table {
  border-collapse: collapse;
}

tr, th, td {
  border: 1px solid #000;
}

th, td {
  padding: 5px;
}

.sidebar {
  display: flex;
  width: 312px;
  height: fit-content;
  padding: 20px 0;
  padding-right: 24px;
}

.banner {
  height: 208px;
  position: relative;
}

.banner div {
  width: 100%;
  height: 100%;
  background: #999 url(./assets/space.jpg) no-repeat center / cover;
  background-position: center top;
  /* height: 192px; */
}

.banner .text {
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: 50%;
  width: 512px;

  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(./assets/text.png);
  height: 176px;
}

.fa {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: initial;
}
.vote-button {
  width: 24px;
  height: 24px;
  display: flex;
  color: gray;
  border-radius: 2px;
  justify-content: center;
}

.vote-button .fa {
  justify-content: center;
}

.vote-button:hover .fa-chevron-up {
  color: blue;
}

.vote-button:hover .fa-chevron-down {
  color: red;
}

i {
  width: 16px;
  height: 16px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.vote-button:hover {
  background-color: rgba(0,0,0,.15);
}
i.upvote {
  background-image: url(./assets/upvote.png);
}
.vote-button:hover i.upvote {
  background-image: url(./assets/upvoted.png);
}

i.downvote {
  background-image: url(./assets/downvote.png);
}
.vote-button:hover i.downvote {
  background-image: url(./assets/downvoted.png);
}
