<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Todos</title>
  </head>
  <body>
    <h1>Things to do today:</h1>
    <ul>
    <% todos.forEach(todo => { %>
      <li><%= todo %></li>
    <% }) %>
    </ul>
  </body>
</html>
